{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/anime/anime.css') }}">
{% endblock %}
{% block title %}Anime{% endblock %}

{% block body %}
    <h1>Liste des Animes</h1>
    <div class="row">
        {% for anime in animes %}
            <div class="anime col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h4>{{ anime.libelle }}</h4>
                <img class="img-fluid" src="{{ anime.image }}">


                <div class=" option row">
                    <div class="col-2">
                        <p>Favoris</p>
                    </div>
                    <div class="col-10">
                        <a href="{{ path('anime_visualisation', {'id' :anime.id}) }}" class="btn btn-info">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/anime.js') }}"></script>
{% endblock %}