{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/anime/anime.css') }}">
{% endblock %}

{% block title %}Anime | Visualisation{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ anime.libelle }}</h1>
        <img class="img-fluid" src="{{ asset(anime.image) }}">
        <hr class="my-4">
        <p>{{ anime.description }}</p>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#status">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#editeur">Editeur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#nbEpisode">Nombre Episode</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="status">
                <p>{{ anime.getStatusType()}}</p>
            </div>
            <div class="tab-pane fade" id="editeur">
                <p>{{ anime.editeur }}</p>
            </div>
            <div class="tab-pane fade" id="nbEpisode">
                <p>{{ anime.nbEpisode }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}