{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" src="css/security/inscription.css">
{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messageData, 'security') }}
        </div>
    {%  endif %}
    <h1>Connexion</h1>
    <form action="{{ path('security_connexion') }}" method="POST">
        <div class="form-group">
            <label for="email">Adresse Mail :</label>
            <input id="email" placeholder="Adresse Email ..." required name="_username" type="text" clas="form-control">
        </div>
        <div class="form-group">
            <label for="motDePasse">Mot de passe :</label>
            <input id="motDePasse" placeholder="Mot de passe" required name="_password" type="password" clas="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Connexion !</button>
        </div>
    </form>


{% endblock %}