{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" src="css/security/inscription.css">
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Inscription</h1>
    {{ form_start(form) }}
    {{ form_row(form.username, {
        'label' : 'Nom d\'utilisateur',
        'attr' :{
            'placeholder' : 'Nom d\'utilisateur ...'
        }
    })}}
    {{ form_row(form.email, {
        'label' : 'Adresse E-mail',
        'attr' :{
            'placeholder' : 'Adresse E-mail ...'
        }
    })}}
    {{ form_row(form.password, {
        'label' : 'Mot de passe',
        'attr' :{
            'placeholder' : 'Mot de passe ...'
        }
    })}}
    {{ form_row(form.confirm_password, {
        'label' : 'Confirmer mot de passe',
        'attr' :{
            'placeholder' : 'Confirmer votre Mot de Passe ...'
        }
    })}}
    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}
{% endblock %}