{% extends 'base.html.twig' %}

{% block title %}Hello Hasard{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Hasard</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#anime">Anime</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#manga">Manga</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="anime">
                <div class="jumbotron">
                    <h1>{{ anime.libelle }}</h1>
                    <img class="img-fluid" src="{{ asset(anime.image) }}">
                    <hr class="my-4">
                    <p>{{ anime.description }}</p>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#status">Status</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editeur">Editeur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#nbEpisode">Nombre Episode</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade show active" id="status">
                            <p>{{ anime.getStatusType()}}</p>
                        </div>
                        <div class="tab-pane fade" id="editeur">
                            <p>{{ anime.editeur }}</p>
                        </div>
                        <div class="tab-pane fade" id="nbEpisode">
                            <p>{{ anime.nbEpisode }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="manga">
                <div class="jumbotron">
                    <h1>{{ manga.libelle }}</h1>
                    <img class="img-fluid" src="{{ asset(manga.image) }}">
                    <hr class="my-4">
                    <p>{{ manga.description }}</p>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#statusManga">Status</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editeurManga">Editeur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#nbVolumeManga">Nombre Volumes</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade show active" id="statusManga">
                            <p>{{ manga.getStatusType()}}</p>
                        </div>
                        <div class="tab-pane fade" id="editeurManga">
                            <p>{{ manga.editeur }}</p>
                        </div>
                        <div class="tab-pane fade" id="nbVolumeManga">
                            <p>{{ manga.nbVolume }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
