h1{
    text-align: center;
}

h2{
    text-align: center;
}

.container{
    min-height: 86vh;
}

.banniere{
    width: 100%;
    padding: 15px 0 30px 0;
    margin : unset;

}

footer{
    background-color: #18bc9c;
}