{% extends 'base.html.twig' %}

{%  block  body %}
    <h1 class="display-3">{{ title }}</h1>
    <img class="banniere" alt="bannniere-accueil" src="{{ asset('img/banniere.jpg') }}">
    <h2 class="display-">Vous retrouverez sur ce site de quoi vous informer sur les Animes et les Mangas </h2></br>
    <h2>Bonne Visite</h2>
{% endblock %}