{% extends 'base.html.twig' %}

{%  block  body %}
    <h1 class="display-3">Ajouter un Manga</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Ajouter Manga</button>
    {{ form_end(form) }}
{% endblock %}