
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin/tableStyle.css') }}">
    <link rel="stylesheet" href="{{ asset('dataTable/datatable.min.css') }}">
    <link rel="stylesheet" href="{{ asset('fontawesome-free-5.9.0-web/fontawesome-free-5.9.0-web/css/all.css') }}">
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Administrer les Animes / Mangas !</h1>
    <div class="example-wrapper">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#anime">Animes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#manga">Mangas</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="anime">
                <a href="{{ path('admin_anime_ajouter') }}" class="btn btn-success">Ajouter un anime</a>
                <table id="tableAnimes" class="display">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for anime in animes %}
                        <tr>
                            <td>{{ anime.libelle }}</td>
                            <td>{{ anime.description }}</td>
                            <td>{{ anime.getStatusType() }}</td>
                            <td><a class="icone" href="{{ path('admin_anime_modifier',{id: anime.id}) }}"><i class="fas fa-edit"></i></a></td>
                            <td><a class="icone" href="{{ path('admin_anime_supprimer',{id: anime.id}) }}"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="manga">
                <a href="{{ path('admin_manga_ajouter') }}" class="btn btn-success">Ajouter un manga</a>
                <table id="tableMangas" class="display">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for manga in mangas %}
                        <tr>
                            <td>{{ manga.libelle }}</td>
                            <td>{{ manga.description }}</td>
                            <td>{{ manga.getStatusType() }}</td>
                            <td><a class="icone" href="{{ path('admin_manga_modifier',{id: manga.id}) }}"><i class="fas fa-edit"></i></a></td>
                            <td><a class="icone" href="{{ path('admin_manga_supprimer',{id: manga.id}) }}"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/admin.js') }}"></script>
    <script type="text/javascript" src="{{ asset('dataTable/datatable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fontawesome-free-5.9.0-web/fontawesome-free-5.9.0-web/js/all.js') }}"></script>
{% endblock %}