{% extends 'base.html.twig' %}

{%  block  body %}
    <h1 class="display-3">Modifier un Anime</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Modifier Anime</button>
    {{ form_end(form) }}
{% endblock %}