{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/manga/manga.css') }}">
{% endblock %}
{% block title %}Manga{% endblock %}

{% block body %}
    <h1>Liste des Animes</h1>
    <div class="row">
        {% for manga in mangas %}
            <div class="manga col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h4>{{ manga.libelle }}</h4>
                <img class="img-fluid" src="{{ manga.image }}">


                <div class=" option row">
                    <div class="col-2">
                        <p>Favoris</p>
                    </div>
                    <div class="col-10">
                        <a href="{{ path('Manga_visualisation', {'id' :manga.id}) }}" class="btn btn-info">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}