{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/manga/manga.css') }}">
{% endblock %}

{% block title %}Manga | Visualisation{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ manga.libelle }}</h1>
        <img class="img-fluid" src="{{ asset(manga.image) }}">
        <hr class="my-4">
        <p>{{ manga.description }}</p>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#status">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#editeur">Editeur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#nbVolume">Nombre Volumes</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="status">
                <p>{{ manga.getStatusType()}}</p>
            </div>
            <div class="tab-pane fade" id="editeur">
                <p>{{ manga.editeur }}</p>
            </div>
            <div class="tab-pane fade" id="nbVolume">
                <p>{{ manga.nbVolume }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}