.manga{
    background-color: #AA3333;
    margin: 0 0 10px 0;
}

.option{
    text-align:center;
}

.jumbotron{
    text-align:center;
}

img{
    height: 300px!important;
    width: 250px !important;
}
